<div class="booyah-box col-10 offset-1">
  <h1 align="center">Cybin Caps</h1>
  <h2 align="center">Handmade Artisan Keycaps</h2>

 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" align="center">
  <div class="carousel-inner">
    <div class="carousel-item active">
     <%= image_tag 'slider1.jpg', class: 'img-fluid' %> 
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider2.jpg', class: 'img-fluid' %> 
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider3.jpg', class: 'img-fluid' %> 
    </div>
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-3 col-sm">
  </div>

    <div class="col-3 col-sm">
      <h3>Shop</h3>
      <%= link_to shop_path do %>
        <%= image_tag 'shop.png', class: 'img-fluid' %>
      <% end %>
    </div>
    
    <div class="col-3 col-sm">
      <h3>About</h3>
      <%= link_to about_path do %>
        <%= image_tag 'logo.png', class: 'img-fluid' %>
      <% end %>
    </div>

    <div class="col-3 col-sm">
    </div>
  </div>
</div> 